body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/736x/19/87/03/198703f5f43e3c5572fe7db768ea07dd.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

img {
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: 15px auto;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    color: black;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    padding: 10px;
}



